---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <!-- <div class="col-lg-8 col-md-10 mx-auto"> -->
      <div>

        {{ content }}

        <!-- Home Post List -->
        {% for post in site.posts %}
        {% if post.category contains "about" %}

        <article class="post-preview" style="min-height:350px;">
          <img style="border-radius:500px; width:350px; height:350px; float:left; margin-right:40px;" src="{{ post.thumbnail }}" />
          <table>
            <tbody>
              <tr>
                <td>
                  <h2 class="post-title">{{ post.title }}</h2>
                  <p class="post-subtitle">{{ post.content }}</p>
                </td>
              </tr>
            </tbody>
          </table>
        </article>
        <hr>

        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
